* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
  padding: 20px 20px;

  @include from($breakpoint-medium) {
    padding: 0 20px;
  }
}
.App-header {
  background: #141E30;
  background: -webkit-linear-gradient(to left, #243B55, #141E30);
  background: linear-gradient(to left, #243B55, #141E30);
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  border-radius: 5px;

  h1 {
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    color: rgba($white, .3);
  }
}