.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 10px 0 100px;

  @include from($breakpoint-medium) {
    display: inline-grid;
    grid-template-columns: 2fr 8fr;
  }

  &__categories {
    color: $dark;
    margin-bottom: 20px;
  }

  &__posts {
    margin: 0 auto;
    width: 100%;

    @include from($breakpoint-medium) {
      margin-left: 40px;
      width: calc(100% - 40px);
    }
  }

  &__title {
    text-align: left;
    margin: 0 0 20px;
  }

  &__header {
    display: grid;
    grid-template-columns: 9fr 150px;
    align-items: center;

    &__title {
      text-align: left;
      margin: 0 0 20px;
      color: rgba($dark, .4);
    }

    &__button {
      border: 0;
      padding: 10px 0;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 10px;
      font-size: 1.1rem;
      color: $white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      @include gradientBackground();

      &:hover {
        color: rgba($dark, .5);
        box-shadow: 0 7px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
        cursor: pointer;
      }
    }
  }
}