.postList {
  display: grid;
  padding: 0;

  &__item {
    background-color: white;
    display: flex;
    list-style-type: none;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid Gainsboro;
  }
}

.post {
  border-radius: 5px;
  width: 100%;

  &__header {
    background-color: gainsboro;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    opacity: .3;

    &__name {
      text-align: left;
      width: 50%;

      .link {
        color: $light;
      }
    }

    &__time {
      text-align: right;
      width: 50%;
    }
  }

  &__body {
    margin: 40px 20px;

    a {
      text-decoration: none;
      color: $dark;
    }

    &__headline {
      font-weight: bold;
      margin-bottom: 10px;
    }

    &__content {
      font-weight: 300;
      color: rgba($dark, .8);
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(gainsboro, .3);
    padding: 10px 20px;

    p {
      font-style: italic;
    }

    &__left {
      display: grid;
      grid-template-columns: 70px 50px 50px;
      align-items: center;
      text-align: left;

      p {
        opacity: .5;
        margin-right: 7px;
      }

      small {
        font-style: italic;
      }
    }

    &__right {
      display: inline-grid;
      align-items: center;
      justify-items: right;

      p {
        opacity: .5;
      }

      small {
        font-style: italic;
      }
    }

    &__actions {
      text-align: right;

      .button {
        margin-left: 10px;
      }
    }
  }

  &__comment {
    @include darkGradient();
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
}

.icons {
  border: 1px solid $light;
  color: $light;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
  transition: all .2s;

  &:hover {
    background-color: $dark;
    color: $white;
    cursor: pointer;
  }
}

.button {
  padding: 2.5px 10px 7.5px 10px;
  border: none;
  font-weight: 100;
  color: $white;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  @include gradientBackground();

  &:hover {
    background-color: $greenLight;
    color: rgba($dark, .5);
    cursor: pointer;
  }
}
.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 7px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  }
}
.delete {
   background: rgba(#DC281E, .2);
  transition: background 0.3s;

  &:hover {
    background: rgba(#DC281E, .8);
  }
 }

.edit {
  background: rgba(#83a4d4, .3);
  transition: background 0.3s;

  &:hover {
    background: rgba(#83a4d4, 1);
  }
}

.iconHelper {
  margin: 0 5px;
}

.send {
  margin-top: -5px;
}

.postDetail {
  margin-top: 10px;
  width: calc(100%);
  margin-left: 0;
  @include from($breakpoint-medium) {
    margin-top: 50px;
    width: calc(100% - 40px);
    margin-left: 40px;
  }
}