.App {
  text-align: center; }

.App-header {
  background: #4AC29A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #BDFFF3, #4AC29A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #BDFFF3, #4AC29A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  border-radius: 5px; }
  .App-header h1 {
    margin: 0 auto;
    text-align: left;
    font-weight: 300;
    color: rgba(241, 245, 245, 0.5); }

.grid {
  display: inline-grid;
  grid-template-columns: 2fr 8fr;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 40px 0; }
  .grid__categories {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #1F2D3D;
    border-radius: 5px;
    padding: 20px; }
  .grid__posts {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 1px solid blue;
    margin: 0 0 0 40px; }
  .grid__title {
    margin-bottom: 40px; }

.list {
  text-align: left;
  padding: 0; }
  .list__items {
    list-style-type: none;
    width: 100%;
    margin: 20px auto; }
    .list__items a {
      text-decoration: none;
      display: block;
      padding: 15px 20px 15px 20px;
      font-weight: 100;
      color: #F1F5F5;
      border-radius: 5px;
      text-align: left;
      background-color: #506073;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .list__items a:hover {
        background: #4AC29A;
        /* fallback for old browsers */
        background: -webkit-radial-gradient(circle, #BDFFF3, #4AC29A);
        /* Chrome 10-25, Safari 5.1-6 */
        background: radial-gradient(circle, #BDFFF3, #4AC29A);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #1F2D3D;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }
