* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

.App {
  text-align: center;
  padding: 20px 20px; }
  @media (min-width: 750px) {
    .App {
      padding: 0 20px; } }

.App-header {
  background: #141E30;
  background: -webkit-linear-gradient(to left, #243B55, #141E30);
  background: linear-gradient(to left, #243B55, #141E30);
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  border-radius: 5px; }
  .App-header h1 {
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    color: rgba(241, 245, 245, 0.3); }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 40px 0; }
  @media (min-width: 750px) {
    .grid {
      display: inline-grid;
      grid-template-columns: 2fr 8fr; } }
  .grid__categories {
    color: #1F2D3D;
    margin-bottom: 20px; }
  .grid__posts {
    margin: 0 auto;
    width: 100%; }
    @media (min-width: 750px) {
      .grid__posts {
        margin-left: 40px;
        width: calc(100% - 40px); } }
  .grid__title {
    text-align: left;
    margin: 0 0 20px;
    color: rgba(31, 45, 61, 0.4); }

.list {
  text-align: left;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px; }
  .list__items {
    list-style-type: none;
    width: 100%;
    margin: 20px auto; }
    .list__items a {
      text-decoration: none;
      display: block;
      padding: 15px 20px 15px 20px;
      font-weight: 100;
      color: #F1F5F5;
      border-radius: 5px;
      text-align: left;
      background-color: #506073;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .list__items a:hover {
        background-color: #9BB9DE;
        color: #1F2D3D;
        box-shadow: 0 7px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); }

.postList {
  display: grid;
  padding: 0; }
  .postList__item {
    background-color: white;
    display: flex;
    list-style-type: none;
    text-align: left;
    margin: 10px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 5px; }
    .postList__item:first-child {
      margin: 0 0 10px; }
    .postList__item:hover {
      box-shadow: 0 7px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); }

.post {
  border-radius: 5px;
  width: 100%; }
  .post__header {
    background-color: gainsboro;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    opacity: .3; }
    .post__header__name {
      text-align: left;
      width: 50%; }
    .post__header__time {
      text-align: right;
      width: 50%; }
  .post__body {
    margin: 40px 20px; }
    .post__body__content {
      font-weight: 300;
      color: #1F2D3D; }
  .post__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(220, 220, 220, 0.3);
    padding: 20px; }
    .post__footer p {
      font-style: italic; }
    .post__footer__left {
      display: grid;
      grid-template-columns: 50px 50px 50px;
      align-items: center;
      text-align: left; }
      .post__footer__left small {
        opacity: .5;
        font-style: italic; }
    .post__footer__right {
      display: grid;
      grid-template-columns: 3fr 70px;
      align-items: center;
      justify-items: right; }
      .post__footer__right small {
        margin-right: 20px;
        opacity: .5;
        font-style: italic; }
  .post__comment {
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: row; }

.icons {
  border: 1px solid #506073;
  color: #506073;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
  transition: all .2s; }
  .icons:hover {
    background-color: #506073;
    color: #F1F5F5;
    cursor: pointer; }

.button {
  padding: 5px 20px 10px 20px;
  border: none;
  font-weight: 100;
  color: #F1F5F5;
  border-radius: 5px;
  text-align: center;
  background-color: #506073;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 2rem; }
  .button:hover {
    background-color: #9BB9DE;
    color: #1F2D3D;
    box-shadow: 0 7px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    cursor: pointer; }

.iconHelper {
  margin: 0 5px; }
